html, body, head, li {background: #22162B; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #AAC0AA;}

.clear {clear: both;}

html{
    padding-left: 100px;
    padding-right: 100px;
}

p {
    padding: 30px;
    font-size: 1em;
    line-height: 1.4em;
    padding-left: 40px;
    
}
article {
    padding-left: 300px;
    margin-bottom: 300px;
}

h2{
    margin-left: 101px;
}
   
.img-circle {
    border-radius: 50%;
    padding: 20px;
    float: left;
}

#MyInfo {
    width: 90%;
	max-width: 800px;
	background: #1C2541;
    margin: 30px auto;
    float: left;
    border-right: 500px;
}

body {
    padding-right: 40px;
    
}
#link1 {
    padding-left: 30px;
}

