html, body, head, li {background: #22162B; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #AAC0AA;}

.clear {clear: both;}

p {
    padding: -10px 0 30px;
    font-size: 1em;
    line-height: 1.4em;
   
}
article {
    padding: 20px 0 0;
    margin: 20px 20px 50px 0;
}
body{
    margin-right: 50px;
}
h2{
    margin-left: 101px;
}
   
