html, body, head, li {background: #22162B; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #AAC0AA;}

.clear {clear: both;}

p {
    padding: 30px;
    font-size: 1em;
    line-height: 1.4em;
    padding-right: 200px;
   
}
article {
    padding: 20px 0 0;
    margin: 20px 20px 50px 0;
}

h2{
    margin-left: 101px;
}
   
.img-circle {
    border-radius: 50%;
    padding: 20px;
    float: left;
}

#MyInfo {
    width: 90%;
	max-width: 800px;
	background: #1C2541;
    margin: 30px auto;
    float: left;
    border-right: 500px;
}

body {
    padding-right: 400px;
    
}

